<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkth.app.mapper.ApDeviceMapper">


    <!--    <select id="findRegionData" resultType="com.zk.model.device.vos.MedicalPartitionVO">-->
    <!--        select district_id, name-->
    <!--        from medical_partition-->
    <!--        where district_id = #{districtId}-->
    <!--    </select>-->

    <select id="findRegionDataName" resultMap="regionData">
        select district_id,name
        from medical_partition
        <where>
            <if test="districtId != null and districtId != ''">
                district_id = #{districtId}
            </if>
        </where>
    </select>

    <resultMap id="regionData" type="com.zk.model.device.vos.MedicalPartitionVO">
        <result property="districtId" column="district_id"/>
        <collection property="names" ofType="com.zk.model.device.vos.MedicalPartitionName">
            <result property="name" column="name"/>
        </collection>
    </resultMap>

    <select id="findAppTypeName" resultMap="appType">
        select type_id,type_name
        from medical_app_type
        <where>
            <if test="typeId != null and typeId != ''">
                type_id = #{typeId}
            </if>
            <if test="typeName != null and typeName != ''">
                type_name = #{typeName}
            </if>
        </where>
    </select>
    <resultMap id="appType" type="com.zk.model.device.vos.MedicalAppType">
        <result property="typeId" column="type_id"/>
        <collection property="typeNames" ofType="com.zk.model.device.vos.MedicalAppTypeName">
            <result property="typeName" column="type_name"/>
        </collection>
    </resultMap>

    <select id="findAppDevice" resultType="com.zk.model.device.pojos.MedicalAppDevice">
        SELECT DISTINCT mad.*,
        mat.type_id,
        mat.type_name,
        mp.district_id,
        mad.status,
        mad.equipment_number
        FROM medical_app_device mad
        JOIN medical_partition mp ON mad.region_id = mp.district_id
        JOIN medical_app_type mat ON mad.equipment_name = mat.type_name
        WHERE 1=1
        <if test="status != null">
            AND mad.status = #{status}
        </if>
        <if test="equipmentNumber != null and equipmentNumber != ''">
            AND mad.equipment_Number = #{equipmentNumber}
        </if>
        <if test="typeId != null and typeId != ''">
            AND mat.type_id = #{typeId}
        </if>
        <if test="typeName != null and typeName != ''">
            AND mat.type_name = #{typeName}
        </if>
        <if test="districtId != null and districtId != ''">
            AND mp.district_id = #{districtId}
        </if>
    </select>

    <select id="findAppDeviceName" resultType="com.zk.model.device.pojos.MedicalAppDevice">
        select equipment_name,equipment_number,status,region_id,device_types,region,id,equipment_number,created_time,notes
        from medical_app_device
        <where>
            <if test="equipmentName != null and equipmentName != ''">
                and equipment_name = #{equipmentName}
            </if>
            <if test="equipmentNumber != null and equipmentNumber != ''">
                 and equipment_number = #{equipmentNumber}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="regionId != null and regionId != ''">
                and region_id = #{regionId}
            </if>
            <if test="deviceTypes != null and deviceTypes != ''">
                and device_types = #{deviceTypes}
            </if>
            <if test="region != null and region != ''">
                and region = #{region}
            </if>
        </where>
    </select>
</mapper>