<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkth.app.mapper.ApDeviceMapper">


    <!--    <select id="findRegionData" resultType="com.zk.model.device.vos.MedicalPartitionVO">-->
    <!--        select district_id, name-->
    <!--        from medical_partition-->
    <!--        where district_id = #{districtId}-->
    <!--    </select>-->
    <select id="findShiftCarSetByEquipmentNumber">
        select equipment_name, equipment_number, status, device_types, region, posture, electric_quantity
        from medical_app_device
        where equipment_number = #{equipmentNumber}
    </select>
    <delete id="DeleteTheDeviceBasedOnTheNumber">
        delete
        from medical_app_device
        where equipment_number = #{equipmentNumber}
    </delete>
    <select id="ViewnetWorkInformationById">
        select electric_quantity, ip_addr, MA, online_time, uplink_rate, downlink_rate
        from medical_app_device
        where equipment_number = #{equipmentNumber}
    </select>
    <update id="updateStatus">
        update medical_app_device
        set status = #{status}
        where equipment_number = #{equipmentNumber}
    </update>
    <select id="findTransferTrolleySetByEquipmentNumber" resultType="com.zk.model.device.vos.transfer_trolley_set_VO">
        select equipment_name,
               equipment_number,
               status,
               device_types,
               region,
               equipment_number,
               posture,
               temperature
        from medical_app_device
        where equipment_number = #{equipmentNumber}
    </select>


    <select id="findRegionDataName" resultMap="regionData">
        select district_id,name
        from medical_partition
        <where>
            <if test="districtId != '' and districtId != null">
                district_id = #{districtId}
            </if>
        </where>
    </select>
    <resultMap id="regionData" type="com.zk.model.device.vos.MedicalPartitionVO">
        <result property="districtId" column="district_id"/>
        <collection property="names" ofType="com.zk.model.device.vos.MedicalPartitionName">
            <result property="name" column="name"/>
        </collection>
    </resultMap>

    <select id="findAppTypeName" resultMap="appType">
        select type_id
        from medical_app_type
        <where>
            <if test="typeId != null and typeId != ''">
                type_id = #{typeId}
            </if>
        </where>
    </select>
    <resultMap id="appType" type="com.zk.model.device.vos.MedicalAppType">
        <result property="typeId" column="type_id"/>
        <collection property="typeNames" ofType="com.zk.model.device.vos.MedicalAppTypeName">
            <result property="typeName" column="type_name"/>
        </collection>
    </resultMap>

    <select id="findDevices" resultMap="findDevices">
        select type_id,type_name
        from medical_app_type
        <where>
            <if test="typeId != null and typeId != ''">
                type_id = #{typeId}
            </if>
            <if test="typeName != null and typeName != ''">
                type_name = #{typeName}
            </if>
        </where>
    </select>
    <resultMap id="findDevices"  type="com.zk.model.device.vos.MedicalAppType">
        <result property="typeId" column="type_id"/>
        <collection property="typeNames" ofType="com.zk.model.device.vos.MedicalAppTypeName">
            <result property="typeName" column="type_name"/>
        </collection>
    </resultMap>

</mapper>